@font-face {
	font-family: UIFont;
	src: url(font.woff);
}
body{
	font-family: UIFont;
	padding: 0px;
	margin: 0px;
}
.hellotitle{
	animation-delay: 0.5s;
	text-align: center;
	color: white;
	position: relative;
	top: 35%;
	font-size: 36px;
	opacity: 0;
	animation-fill-mode: forwards;
}
.hellotip{
	animation-delay: 0.7s;
	text-align: center;
	position: relative;
	top: 35%;
	color: rgba(255,255,255,.7);
	font-size: 28px;
	opacity: 0;
	animation-fill-mode: forwards;
}
.divtitle{
	color: black;
	text-align: center;
	font-size: 36px;
	opacity: 0;
	animation-fill-mode: forwards;
}
.divcontent{
	color: black;
	text-align: center;
	font-size:  28px;
	opacity: 0;
	animation-fill-mode: forwards;
}
.divbox{
	color: rgb(96,96,96);
	text-align: center;
	font-size:  28px;
	width: auto;
	height: auto;
	display: inline-block;
	opacity: 0;
	animation-fill-mode: forwards;
	margin: 40px;
	overflow: visible;
}
.robox{
	border-radius: 16px;
	box-shadow: 0px 10px 32px rgba(60,60,60,.2);
	padding: 20px;
	transition: 0.5s;
}
.robox:hover{
	width: 120px;
	height: 120px;
	border-radius: 140px;
	box-shadow: 0px 16px 64px rgba(20,184,255,.3);
	transition: 0.5s;
}
.robtn{
	background-color: white;
	border-radius: 16px;
	box-shadow: 0px 5px 16px rgba(60,60,60,.2);
	padding: 15px;
	transition: 0.5s;
}
.robtn:hover{
	border-radius: 60px;
	box-shadow: 0px 8px 32px rgba(20,184,255,.3);
	transition: 0.5s;
}
.blogtoolbar{
	bottom: 5em;
	position: relative;
	width: auto;
	height: auto;
	padding: 20px;
}
.mddiv {
	width: 100%;
	height: 90px;
	left: 0;
	top: 0;
	padding-top: 2px;
	padding-left: 25px;
	background-color: rgba(0,0,0,0);
	background-size: 100% auto;
	transition: 0.5s;
}
.mddiv:hover {
	background-color: rgba(0,0,0,.1);
	background-size: 100% auto;
	padding-left: 40px;
	transition: 0.5s;
}
.mdtitle{
	font-size: 24px;
	font-weight: 400;
	color: rgba(0,0,0,.8);
	text-decoration: none;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
@keyframes treeout {
	from {
		height: 50%;
		padding: 40px;
		transform: 0.5s;
	}
	to {
		height: 0;
		padding: 0px;
		transform: 0.5s;
	}
}
@keyframes treein {
	from {
		height: 0;
		padding: 40px;
		transform: 0.5s;
	}
	to {
		height: 50%;
		padding: 0px;
		transform: 0.5s;
	}
}
@keyframes RunIn{
	from{transform: translateX(-10%);opacity: 0;}
	to{transform: translateX(0%);opacity: 1;}
  }
@keyframes RunIn2{
	from{transform: translateX(10%);opacity: 0;}
	to{transform: translateX(0%);opacity: 1;}
}
@keyframes RunUp{
	from{opacity: 0; margin-top: 100px;}
	to{opacity: 1; margin-top: 0;}
}
@keyframes FadeInPic{
	from{box-shadow: 16px 16px 0px rgba(60,60,60,0);}
	to{box-shadow: 16px 16px 64px rgba(60,60,60,.5);}
}
@keyframes FadeIn{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes Quick{
	from{opacity: 0.3;top: 69%;}
	to{opacity: 0.8;top: 72%;}
}
@keyframes BMFly{
	from{top:1600px;}
	to{top:-1600px;}
}
@keyframes FriendFly{
	from{top: 100%;}
	to{top: -10%;}
}
@keyframes FallDown{
	to{
	  box-shadow: 0px 0px 64px rgba(0,0,0,.5);
	  transform: translateX(45%) translateY(23%) matrix(0.519,0.3,-0.48,0.519,0,0);
	  opacity: 0.8;
	}
}
.BM {
	opacity: 0.6;
	border-radius: 99px;
	width: 64px;
	height: 64px;
	transition: 0.5s;
	transform: rotateX(0deg);
	position: absolute;
	top: 100%;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0, 0, 1, 1);
	z-index: 0;
}